params {
    inputTable   = "input.tsv"
    repeatdb     = "/shared/projects/mitra_mitra_2025/restart_2506/REPbase/LAC32.fas"
    blastevalue  = 1e-15
    sep          = "#" // it assumes your repeat database FASTA headers follow a structured naming convention like TE_name#Superfamily
    query_type   = "nucl"   // 'nucl' or 'prot' — override at runtime with --query_type prot
    db_type      = "prot"   // 'nucl' or 'prot' — override at runtime with --db_type prot
}

process {
    container  = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    executor   = 'slurm'
    cpus       = 4
    memory     = '8 GB'
    time       = '4 h'

    withName: 'makeblastdb' {
        cpus   = 1
        memory = '4 GB'
        time   = '30 min'
    }

    withName: 'runBlast' {
        cpus   = 15
        memory = '16 GB'
        time   = '12 h'
    }

    withName: 'sfAssign' {
        cpus  = 1
        memory = '4 GB'
        time   = '2 h'
    }
}

singularity {
    enabled    = true
    autoMounts = true                          // auto-bind host paths into the container
}
